:root {
  --card-width: clamp(23.5rem, 16.29rem + 30.52vw, 43.75rem);
  --font-family-main: "Inter-Variable", sans-serif; 
  --font-family-accent: "PressStart2P", monospace;
  --font-weight-var-regular: 410;
  --font-weight-var-bold: 715;
  --font-weight: 400;
  --font-size-main: 18px;
  --text-color: #000;
  --font-size-label: 14px; 
  --font-size-text: 18px;
  --font-size-button: 14px;
  --line-height-text: 21px;
  --line-height-button: 90%;
  --card-label-shadow: #fff;
  --color-accent: #000;
  --button-color-mix: #fff;
  --background-image-gradient: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --heart-contour: #000;
    --heart-sparks: #FF0000;
    --heart-liked: #FF0000;
    --heart-active: #FF0000;
    --heart-hover: #000; 
}